.home {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.headerContainer {
    width: auto;
    margin-left: 30px;
}

.home .headerContainer h2 {
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(222, 114, 46);
    font-weight: lighter;
}

.home .headerContainer h3 {
    color: blanchedalmond;
}

.home .headerContainer button {
    background-color: olive;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 180px;
    font-size: 20px;
}

.home .headerContainer button a {
    text-decoration: none;
    color: black;
}

.headerContainer button:hover {
    background-color: rgb(152, 202, 52);
    cursor: pointer;
    transition: 0.3s ease-in;
}

@media screen and(max-width: 600px) {}
    